
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    *{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    transition: all 0.3s ease-in-out;
}

html {
    font-size: 1rem;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #ffffff;
    padding: 15px;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: white;
    margin-bottom: 30px;
    font-size: 22px;
}

.slider {
    position: relative;
    max-width: 45rem;
    height: 25rem;
    margin: 0 auto;
    overflow: hidden;
}

.slide{
    position: absolute;
    top: 0;
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 30px;
}

.bottom-container button {
    padding: 10px 30px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}

.dots-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.dots-container .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.dots-container .dot.active {
    background-color: cyan;
}