
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    background: #000;
    color: white;
}

input{
    width: 70vw;
    height: 7vh;
    padding-left: 20px;
    outline: none;
    border-radius: 8px;
    border: none;
}
button{
    padding: 12px 28px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    border: none;
}

.loading-text{
    display: none;
}

.loading-text.show {
    display: block;
}


.github-profile-details{
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.github-profile-details p{
    padding: 12px 18px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 8px;
}
.github-profile-details.hide {
    display: none;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}